* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  height: 100vh;
}
.polygon {
  clip-path: polygon(0 0, 100% 0, 100% 55%, 0 100%);
  background-color: rgb(38, 140, 163);
  width: 100%;
  height: 50vh;
}
.polygon-wrapper {
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.393));
}
nav {
  position: absolute;
  top: 5%;
  display: flex;
  flex-direction: row;
  left: 10%;
  right: 10%;
}
.introduction {
  display: flex;
  padding: 20px 20px 20px 0px;
}
.about-me {
  padding: 0 15px 14px 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.375);
}
.about-me-header,
.about-me-content,
.about-me-links {
  flex: 1;
}
.about-me-header {
  display: flex;
  font-family: "Playfair Display";
  font-size: 45px;
  padding-top: 10px;
  justify-content: flex-start;
  align-items: center;
  font-weight: 300;
}
.about-me-content {
  font-family: "Roboto";
  font-size: 23px;
  color: rgba(0, 0, 0, 0.546);
  font-weight: 500;
}
.about-me-links {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
img[alt="orange-flowers"] {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.543);
  width: 20em;
  height: 20em;
}
main {
  display: flex;
  flex-direction: column;
  padding: 3% 11% 10% 10%;
  gap: 20px;
}
header > h1 {
  font-weight: 300;
  font-family: "Playfair Display";
  font-size: 40px;
}
section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
}
.project-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.423);
}
img[alt="red-flowers"] {
  width: 100%;
}
.project-card-content {
  display: flex;
  flex-direction: column;
  padding: 1% 2% 3% 2%;
  gap: 10px;
}
.project-card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.project-card-name {
  flex: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.project-card-name > h2 {
  font-weight: 300;
  font-family: "Playfair Display";
}
.project-card-links {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.project-card-text > p {
  font-weight: 500;
  font-family: "Roboto";
  font-size: 16px;
  color: rgba(0, 0, 0, 0.71);
}
footer {
  display: flex;
  flex-direction: row;
  padding: 3% 5% 3% 10%;
  background-color: rgb(38, 140, 163);
}
.footer-info,
.footer-image {
  flex: 1;
}
.footer-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-info p,
.footer-info h1 {
  color: white;
}
.footer-info {
  display: flex;
  flex-direction: column;
}
.footer-info-contact,
.footer-info-text,
.footer-info-address,
.footer-info-phone,
.footer-info-mail {
  flex: 1;
}
.footer-info-links {
  flex: 2;
}
.footer-info-phone,
.footer-info-mail {
  flex: 0.7;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.footer-info-phone > p,
.footer-info-mail > p {
  font-size: 23px;
  font-family: "Roboto";
}
.footer-info-links {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 3px;
}
.footer-info-contact > h1 {
  font-family: "Playfair Display";
  font-weight: 300;
  font-size: 35px;
}
.footer-info-text > p {
  font-family: "Roboto";
  font-size: 23px;
}
.footer-info-address {
  display: flex;
  flex-direction: column;
}
.footer-info-address > p {
  flex: 1;
  font-family: "Roboto";
  font-size: 23px;
}
img[alt="red-white-flowers"] {
  width: 100%;
  height: 100%;
}
@media (max-width: 500px) {
  img[alt="github"],
  img[alt="linkedin"],
  img[alt="x"],
  img[alt="open-in-new"] {
    height: 25px;
    width: 25px;
  }
  nav {
    position: static;
  }
  .orange-flowers {
    position: absolute;
    top: 4em;
    left: 3em;
    right: 2em;
  }
  img[alt="orange-flowers"] {
    height: 18em;
    width: 20em;
  }
  .introduction {
    padding: 0;
  }
  .about-me {
    box-shadow: none;
    gap: 10px;
    padding: 10%;
  }
  .about-me-header {
    font-size: 35px;
    justify-content: center;
    align-items: center;
  }
  .about-me-content {
    font-size: 20px;
  }
  .about-me-links {
    justify-content: center;
    align-items: center;
  }
  .about-me-links img {
    height: 35px;
    width: 35px;
  }
  header > h1 {
    font-size: 35px;
    text-align: center;
  }
  section {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
  .project-card-content h2 {
    font-size: 19px;
  }
  .project-card-text > p {
    font-size: 14px;
  }
  footer {
    flex-direction: column;
    padding: 0;
  }
  .footer-info {
    padding: 10% 10% 10% 10%;
    gap: 10px;
  }
  .footer-info-contact {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-info-text > p {
    font-size: 19px;
  }
  .footer-info-address p {
    font-size: 13px;
  }
  .footer-info-phone > p,
  .footer-info-mail > p {
    font-size: 14px;
  }
  img[alt="phone-outline"] {
    display: none;
  }
  img[alt="email-outline"] {
    display: none;
  }
  .footer-info-links {
    gap: 0;
    justify-content: space-around;
    align-content: center;
  }
  .footer-info-links img {
    height: 40px;
    width: 40px;
  }
}
@media (max-width: 380px) {
  .orange-flowers {
    left: 2em;
  }
  img[alt="orange-flowers"] {
    width: 18em;
    height: 18em;
  }
}
@media (min-width: 501px) AND (max-width: 1000px) {
  nav {
    display: block;
    top: 3%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.543);
  }
  .introduction {
    padding: 0;
    display: inline;
  }
  img[alt="orange-flowers"] {
    width: 15em;
    height: 15em;
    float: left;
    margin-right: 2em;
  }
  .about-me {
    padding: 0;
    display: inline;
    box-shadow: none;
    background-color: unset;
  }
  .about-me-content {
    font-size: 18px;
  }
  .about-me-header {
    display: inline;
    padding: 0;
    text-align: center;
    font-size: 35px;
  }
  .about-me-links {
    display: none;
  }
  section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  footer {
    padding: 3% 3% 3% 6%;
  }
  .footer-info {
    gap: 13px;
  }
}
